body{
    background-color: yellow
}

#girls{
    margin-top: 70px;
}

#girls .firstgirl{
    width: 320px !important;
    height: 500px !important;
    position: relative;
    box-shadow: rgba(67, 167, 9, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#girls .firstgirl img{
    width: 318px;
    height: 270px;
}
#girls .firstgirl h5{
    text-align: center;
    margin-top: 10px;
}
#girls .firstgirl span{
    display: block;
    text-align: center;
    color: palevioletred;
    font-weight: bold;
}
#girls .firstgirl p{
    text-align: center;
}
#girls .firstgirl .firstgirlcontact{
    text-align: center;
    background-color:white;
    height: 50px;
    position: absolute;
    top: 448px;
    width: 318px

}
#girls .firstgirl .firstgirlcontact a{
   margin-top: 20px;
   border-radius: 100%;
   color: black;
}
#girls .firstgirl .firstgirlcontact a:nth-child(1) i {
    color: rgb(56, 56, 221);
    background-color:white;
    font-size: 30px;
}
#girls .firstgirl .firstgirlcontact a:nth-child(2) i {
    color: red;
    font-size: 30px;
}
#girls .firstgirl .firstgirlcontact a:nth-child(3) i {
    color: rgb(94, 94, 230);
    background-color:white;
    font-size: 30px;
    border-radius: 100%;

}
#girls .firstgirl .firstgirlcontact a:nth-child(4) i {
    color:green;
    font-size: 30px;
    
}

#girls .secondgirl{
    width: 320px !important;
    height: 500px !important;
    position: relative;
    box-shadow: rgba(67, 167, 9, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#girls .secondgirl img{
    width: 318px;
    height: 270px;
}
#girls .secondgirl h5{
    text-align: center;
    margin-top: 10px;
}
#girls .secondgirl span{
    display: block;
    text-align: center;
    color: palevioletred;
    font-weight: bold;
}
#girls .secondgirl p{
    text-align: center;
}
#girls .secondgirl .secondgirlcontact{
    text-align: center;
    background-color:white;
    height: 50px;
    position: absolute;
    top: 448px;
    width: 318px

}
#girls .secondgirl .secondgirlcontact a{
   margin-top: 20px;
   border-radius: 100%;
   color: black;
}
#girls .secondgirl .secondgirlcontact a:nth-child(1) i {
    color: rgb(56, 56, 221);
    background-color:white;
    font-size: 30px;
}
#girls .secondgirl .secondgirlcontact a:nth-child(2) i {
    color: red;
    font-size: 30px;
}
#girls .secondgirl .secondgirlcontact a:nth-child(3) i {
    color: rgb(94, 94, 230);
    background-color:white;
    font-size: 30px;
    border-radius: 100%;

}
#girls .secondgirl .secondgirlcontact a:nth-child(4) i {
    color:green;
    font-size: 30px;
    
}

#girls .thirdgirl{
    width: 320px !important;
    height: 500px !important;
    position: relative;
    box-shadow: rgba(67, 167, 9, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#girls .thirdgirl img{
    width: 318px;
    height: 270px;
}
#girls .thirdgirl h5{
    text-align: center;
    margin-top: 10px;
}
#girls .thirdgirl span{
    display: block;
    text-align: center;
    color: palevioletred;
    font-weight: bold;
}
#girls .thirdgirl p{
    text-align: center;
}
#girls .thirdgirl .thirdgirlcontact{
    text-align: center;
    background-color:white;
    height: 50px;
    position: absolute;
    top: 448px;
    width: 318px

}
#girls .thirdgirl .thirdgirlcontact a{
   margin-top: 20px;
   border-radius: 100%;
   color: black;
}
#girls .thirdgirl .thirdgirlcontact a:nth-child(1) i {
    color: rgb(56, 56, 221);
    background-color:white;
    font-size: 30px;
}
#girls .thirdgirl .thirdgirlcontact a:nth-child(2) i {
    color: red;
    font-size: 30px;
}
#girls .thirdgirl .thirdgirlcontact a:nth-child(3) i {
    color: rgb(94, 94, 230);
    background-color:white;
    font-size: 30px;
    border-radius: 100%;

}
#girls .thirdgirl .thirdgirlcontact a:nth-child(4) i {
    color:green;
    font-size: 30px;
    
}