
.containersales{
    width: 70%;
    margin-top: 100px;
    display: block;
    align-items: center;
    justify-content: center;
}


#sales .shoes{
    width: 200px !important ;
    height: 400px !important ;
    margin-top: 50px;
    position: relative;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

#sales .shoes img{
    width: 198px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#sales .shoes h5{
    text-align: center;
    margin-top: 10px;
}
#sales .shoes h4{
    text-align: center;
}
#sales .shoes p{
    font-size: small;
    color: gray;
    text-align: center;
}
#sales .shoes .rating{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 22px;
}
#sales .shoes .rating .checked{
    color: orange;
}
#sales .shoes .shoesbuynow{
    background-color: darkcyan;
    height: 50px;
    width: 198px;
    position: absolute;
    top: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px rgb(241, 194, 162); 
}
#sales .shoes .shoesbuynow a{
color: white;
display: block;
text-align: center;
text-decoration: none;
padding-top: 12px;
}
 

#sales .earphone{
    width: 200px !important ;
    height: 400px !important ;
    margin-top: 50px;
    position: relative;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
   
#sales .earphone img{
    width: 198px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#sales .earphone h5{
    text-align: center;
    margin-top: 10px;
}
#sales .earphone h4{
    text-align: center;
}
#sales .earphone p{
    font-size: small;
    color: gray;
    text-align: center;
}
#sales .earphone .rating{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 22px;
}
#sales .earphone .rating .checked{
    color: orange;
}
#sales .earphone .earphonebuynow{
    background-color: rgb(69, 2, 114);
    height: 50px;
    width: 198px;
    position: absolute;
    top: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px rgb(241, 194, 162); 
}
#sales .earphone .earphonebuynow a{
color: white;
display: block;
text-align: center;
text-decoration: none;
padding-top: 12px;
}

#sales .watch{
    width: 200px !important ;
    height: 400px !important ;
    margin-top: 50px;
    position: relative;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
   
#sales .watch img{
    width: 198px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#sales .watch h5{
    text-align: center;
    margin-top: 10px;
}
#sales .watch h4{
    text-align: center;
}
#sales .watch p{
    font-size: small;
    color: gray;
    text-align: center;
}
#sales .watch .rating{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 22px;
}
#sales .watch .rating .checked{
    color: orange;
}
#sales .watch .watchbuynow{
    background-color: black;
    height: 50px;
    width: 198px;
    position: absolute;
    top: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px rgb(241, 194, 162); 
}
#sales .watch .watchbuynow a{
color: white;
display: block;
text-align: center;
text-decoration: none;
padding-top: 12px;
}

#sales .mobile{
    width: 200px !important ;
    height: 400px !important ;
    margin-top: 50px;
    position: relative;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
   
#sales .mobile img{
    width: 198px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 10px;
}
#sales .mobile h5{
    text-align: center;
    margin-top: 10px;
}
#sales .mobile h4{
    text-align: center;
}
#sales .mobile p{
    font-size: small;
    color: gray;
    text-align: center;
}
#sales .mobile .rating{
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 22px;
}
#sales .mobile .rating .checked{
    color: orange;
}
#sales .mobile .mobilebuynow{
    background-color: rgb(240, 156, 0);
    height: 50px;
    width: 198px;
    position: absolute;
    top: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px rgb(241, 194, 162); 
}
#sales .mobile .mobilebuynow a{
color: white;
display: block;
text-align: center;
text-decoration: none;
padding-top: 12px;
}